.signup-page {
	margin: 0px auto;
	padding: 30px 15px 30px 15px;
	width: 500px;
	border-radius: 10px;
	background-color: rgb(245,245,245);
}
.signup-page label,
.signup-page input { 
	margin-top: 15px;

}
@media screen and (max-width: 800px) {
	.signup-page {
		width: 90%;
	}
	.signup-page label,
	.signup-page input { 
		margin-top: 5px;
	}
}

#policy {
	width: 500px;
	margin: 50px auto;
	padding: 15px 0px 15px 0px;
	border-radius: 10px;
	background-color: rgb(245,245,245);
}

.signup-btn {
	margin-top: 30px;
}

.btn {
	margin-left: 10px;
	margin-right:10px;
	width: 75px;
}