{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page.css') }}">

<div class="text-center">

	{% if session.signin %}
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
	<form action="{{ url_for('bankdetail', bid='{{ bid }}') }}" method="post">
		<div class="main-content">
			<div class="title">
				<h2>{{ entries.1 }}</h2>
				<div class="inner-content">
					<label id="bid" class="text">고유 번호: {{ entries.0 }}</label>
				</div>
			</div>
		</div>

		{% if dataes %}
			<script type="text/javascript">
				var tt = 0;
				var dt = 0;
				function add(value) {
					tt+=value;
				};
				function get() {
					return tt;
				};
				function argb(sss){
					alert(sss);
					return "rgb(95,0,2)";
				};
				function grgb(r, g, b){
					return "rgb("+Math.max(0,Math.min(r, 255))+","+Math.max(200,Math.min(g, 255))+","+Math.max(100,Math.min(b, 255))+")";
				};
			</script>
			{% for datas in dataes %}
				{% if datas %}
					<div class="bank-day">
						<div class="bank-day-wrap">
							<div id="BDD" class="bank-day-day">
								{{ datas.0.2 }}
							</div>
						</div>
						<script type="text/javascript">
							if(dt != 0){
								document.getElementById("BDD").id = "X{{ datas.0.2 }}";
								document.getElementById("X{{ datas.0.2 }}").style.backgroundColor=rgb(255 - (tt / 5), 255 - (tt / 10) , 255 - (tt / 7));
							}
						</script>
						{% for data in datas %}
							<div class="bank-day-data">
								{{ data.3 }}
								<script type="text/javascript">
									add({{ data.3 }});
								</script>
							</div>
						{% endfor %}
						<div id="BDR" class="bank-day-result">
							<script type="text/javascript">
								document.write(get());
							</script>
						</div>
						<script type="text/javascript">
							if (tt < 300){
								document.getElementById("BDR").className += " bank-data-bad";
							} else if (tt < 500){
								document.getElementById("BDR").className += " bank-data-normal";
							} else if (tt < 1000){
								document.getElementById("BDR").className += " bank-data-good";
							} else{
								document.getElementById("BDR").className += " bank-data-great";
							}
							document.getElementById("BDR").setAttribute("id", "BDRD");
							tt = 0;
						</script>
					</div>
					<script type="text/javascript">dt = {{ datas.02 }};</script>
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="sub-content">
				아직 아무런 기록도 없어요.
			</div>
		{% endif %}
	</form>
	{% else %}
	<div class="main-content">
		<h2>로그인되지 않았습니다.</h2>
		<div class="inner-content">
			이미 아이디가 있으신가요?
			<a id="signup" class="link text" href="{{ url_for('signin') }}">로그인하세요</a>
		</div>
		<div class="inner-content">
			아직 아이디가 없으신가요?
			<a id="signup" class="link text" href="{{ url_for('signup') }}">새로 만들어보세요</a>
		</div>
	</div>
	{% endif %}

</div>
{% endblock %}
