{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign.css') }}">

<div class="text-center">
  {% if error %}<p class="error"><strong>오류:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('signup') }}" method="post">
  <div class="sign-page">
    <h2>등록하기</h2>
    <div>
      <label class="text pull-left">아이디</label>
      <input class="form-control" type="text" name="userid">
    </div>
    <div>
      <label class="text pull-left">이름</label>
      <input class="form-control" type="text" name="username">
    </div>
    <div>
      <label class="text pull-left">이메일 주소</label>
      <input class="form-control" type="text" name="email">
    </div>
    <div>
      <label class="text pull-left">비밀번호</label>
      <input class="form-control" type="password" name="password">
    </div>

    <div class="btn-space">
      <input id="accept" class="btn btn-success" type="submit" value="등록">
      <input id="cancel" class="btn btn-danger" onclick="location.href = '{{ url_for('front') }}'; return false" type="button" value="취소">
    </div>
  </div>

    <div class="sub-page">
      <div class="checkbox">
        <label >
          <input class="checkbox" type="checkbox" value="" name="chkbox">
          아래의 약관에 동의합니다.
        </label>
      </div>
      <h2>약관</h2>
      <hr>

    </div>
  </form>
</div>
{% endblock %}
