.form-control {
    font-size: 16px;
}
.text {
	font-size: 18px;
}

.navbar {
	background: rgb(0,164,225);
	background: rgba(0,164,225,0.85);
	box-shadow: 0px 3px 5px rgba(16,16,16,0.5);
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}

#WBbrand {
	margin: 5px 25px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#WBnavbar {
}

.navbar-inverse .navbar-nav>li>a {
	color: #fefefe;
}

@media screen and (min-width: 500px) {
  .navbar-brand {
    float: left;
    margin-right: 5px;
    margin-left: -15px;
  }
  .navbar-nav {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    border-radius: 0;
  }
  .navbar-nav.pull-right {
    float: right;
    width: auto;
  }
  .navbar-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none;
  }
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}